.menu {
    font-size: 15px;
    padding: 0px,0px,20px,20px;
    cursor: pointer;
    user-select: none;
  }

.menu:hover{
    font-weight: bolder;
  }

.contents {
  line-height: 0;
  height: 0;
  overflow: hidden;
  opacity: 0.8;
  display: none;
  transition-duration: 0.4s;
}
.contents.is-open {
  padding: 10px;
  height: auto;
  display: block;
}