.menu , .menu2{
    /* background-color: purple; */
    color: black;
    font-size: 18px;
    padding: 10px;
    /* text-align: center; */
    cursor: pointer;
    user-select: none;
  }
.contents , .contents2{
  /* text-align: center; */
  line-height: 0;
  height: 0;
  overflow: hidden;
  /* opacity: 0; */
  display: none;
  transition-duration: 0.4s;
}
.contents.is-open , .contents2.is-open2{
  /* border: 1px solid black; */
  padding: 10px;
  /* line-height: normal; */
  height: auto;
  /* opacity: 1; */
  display: block;
}

